.pricing {
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
}
.pricing__center{
    max-width: 1170px;
    text-align: center;
    padding: 30px 15px;
}
.container__pricing{
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__pricing__header{
    font-family: 'Raleway';
    font-size: 36px;
    line-height: 42px;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
}
.container__pricing__line{
    width: 170px;
    height: 2px; 
    border: none; 
    background-color: #EC7979; 
    color: #EC7979;
    margin-top: 40px;
}
.container__pricing__text{
    padding-top: 40px;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    color: #86878B;
}
.container__pricing__tariffs{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 10px;
}
.container__pricing__tariffs__box:hover {
    transform: translateY(-20px);
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.container__pricing__tariffs__box {
    width: 370px;
    text-align: center;
    align-items: center;
    margin: 0 10px;
}
.container__pricing__tariffs__name{
    height: 53px;
    background: #333333;
    border: 2px solid #F5F5F5;
    border-radius: 10px 10px 0 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 53px;
    color: #FFFFFF;
}
.container__pricing__tariffs__price{
    height: 89px;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;
    line-height: 89px;
    color: #FFFFFF;
}
.container__pricing__tariffs__motto{
    height: 44px;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 44px;
    color: rgba(255, 255, 255, 0.5);
}
.container__pricing__tariffs__space{
    height: 44px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 44px;
    text-transform: capitalize;
    color: #86878B;
}
.container__pricing__tariffs__space:last-of-type {
    border-radius: 0 0 10px 10px;
}
@media screen and (min-width: 1024px) and (max-width: 1160px) {
    .container__pricing__header {
        font-size: 24px;
    }
    .container__pricing__line {
        width: 143px;
    }
    .container__pricing__text {
        font-size: 14px;
    }
    .container__pricing__tariffs__box {
        width: 317px;
    }
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
    .container__pricing__line {
        width: 134px;
    }
    .container__pricing__tariffs {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container__pricing__tariffs__box {
        width: 288px;
        margin: 25px auto;
    }
    .container__pricing__tariffs__name {
        font-size: 18px;
    }
    .container__pricing__tariffs__price {
        font-size: 24px;
    }
    .container__pricing__tariffs__motto, .container__pricing__tariffs__space {
        font-size: 14px;
    }
}
@media screen and (max-width: 320px) {
    .container__pricing__line {
        width: 134px;
    }
    .container__pricing__tariffs {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container__pricing__tariffs__box {
        width: 288px;
        margin: 25px auto;
    }
    .container__pricing__tariffs__name {
        font-size: 18px;
    }
    .container__pricing__tariffs__price {
        font-size: 24px;
    }
    .container__pricing__tariffs__motto, .container__pricing__tariffs__space {
        font-size: 14px;
    }
}