.container__footer{
    width: 1510px;
    height: 164px;
    background: black;
    border: 1px solid black;
}
.container__footer__icon{
    width: 545px;
    height: 45px;
    margin-left: 485px;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
#footer__icon{
    color: #CCCCCC;
}
#footer__icon:hover{
    color: aqua;
}
.footer__text{
    width: 1170px;
    height: 21px;
    margin-top: 35px;
    margin-left: 170px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
}