@media screen and (min-width:1511px) {
    .footer{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}
.footer {
    width: 100%;
    background: black;
    border: 1px solid black;
    margin: 30px 0;
}
.container__footer{
    max-width: 1510px;
    height: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container__footer__icon__mobile{
    display: none;  
}
.container__footer__icon{
    width: 545px;
    height: 45px;
    display: flex;
    justify-content: space-between;
}
#footer__icon{
    color: #CCCCCC;
}
#footer__icon:hover{
    color: aqua;
}
.footer__text{
    margin-top: 20px;
    max-width: 1170px;
    height: 21px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 775px) and (max-width: 1024px) {
    .footer__text{
        font-size: 14px;
    }
}
@media screen and (min-width: 320px) and (max-width: 775px) {
    .container__footer__icon{
        display: none;
    }
    .container__footer__icon__mobile{
        width: 300px;
        display: flex;
        justify-content: space-between;
    }
}