.awesome__center{
    max-width: 1170px;
    margin-bottom: 50px;
}
.container{
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.container__header{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    color: #000000;
}
.container__line{
    margin-top: 40px;
    width: 170px;
    height: 2px;
    border: none; 
    background-color: #EC7979; 
    color: #EC7979;
}
.container__text{
    padding-top: 40px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
}
.container__groups{
    display: flex;
}
.container__groups__goup1{
    text-align: center;
}
.container__groups__goup1__header{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    color: #000000;
}
.container__groups__goup1__text{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
@media screen and (min-width: 320px) and (max-width: 645px) {
    .container__groups {
        flex-direction: column;
    }
}
@media screen and (max-width: 320px) {
    .container__groups {
        flex-direction: column;
    }

}