.awesome__center{
    width: 1510px;
    height: 665px;
    display: flex;
    justify-content: center;
}
.container{
    width: 1170px;
    height: 665px;
}
.container__header{
    width: 1170px;
    height: 150px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #000000;
    justify-content: center;
}
.container__line{
    width: 170px;
    height: 2px;
    border: none; 
    background-color: #EC7979; 
    color: #EC7979;
    display: flex;
    justify-content: center;
    margin-left: 500px;
}
.container__text{
    width: 1170px;
    height: 21px;
    margin-top: 40px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    display: flex;
    color: #86878B;
    justify-content: center;
}
.container__groups{
    width: 1170px;
    display: flex;
    justify-content: space-around;
    margin-top: 71px;
}
.container__groups__goup1{
    width: 370px;
    height: 383px;
    text-align: center;
}
.container__groups__goup1__header{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    color: #000000;
}
.container__groups__goup1__text{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
@media (max-width: 1024px) {
    .awesome__center{
        width: 100%;
        height: 578px;
    }
    .container{
        width: 992px;
        height: 518px;
    }
    .container__header{
        width: 100%;
        height: 120px;
        font-size: 24px;
    }
    .container__line{
        width: 142px;
        height: 2px;
        margin-left: 425px;
    }
    .container__text{
        width: 100%;
        height: 16px;
        margin-top: 32px;
        font-size: 14px;
    }
    .container__groups{
        width: 100%;
    }
    .container__groups__goup1{
        width: 318px;
        height: 310px;
    }
    .container__groups__goup1__header{
        font-size: 18px;
    }
    .container__groups__goup1__text{
        font-size: 14px;
    }
}
@media (max-width: 320px) {
    .awesome__center{
        width: 100%;
        height: 1199px;
    }
    .container{
        width: 288px;
        height: 1199px;
    }
    .container__header{
        width: 288px;
        height: 120px;
        font-size: 18px;
    }
    .container__line{
        width: 134px;
        height: 2px;
        margin-left: 77px;
    }
    .container__text{
        width: 288px;
        height: 30px;
        margin-top: 25px;
        font-size: 13px;
    }
    .container__groups{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .container__groups__goup1{
        width: 288px;
        height: 318px;
    }
    .container__groups__goup1__header{
        font-size: 18px;
    }
    .container__groups__goup1__text{
        font-size: 14px;
    }
}