.container__tab{
    max-width: 1170px;
    max-height: 540px;
    margin-top: 80px;
}
li{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
}
.container__tabs__menu{
    margin: 0;
    padding: 0;
}
.container__tabs__menu li{
    width: 203px;
    height: 40px;
    display: inline-block;
}
.container__tabs__menu__tab{
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    border-bottom-color: white;
}
.container__tab__content{
    border-bottom: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    background: linear-gradient(#C6CBCD, #C6CBCD), linear-gradient(#C6CBCD, #C6CBCD);
    background-size: 1px, 965px 1px;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.container__tab__content__box1{
    flex-direction: column;
    padding: 38px 20px 0 100px;
}
.container__tab__content__text1{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}
.container__tab__content__text2{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
.container__tab__content__botton{
    width: 270px;
    height: 58px;
    background: #EC7979;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.container__tab__content__image{
    width: 470px;
    height: 500px;
}
.container__tab__content__image img{
    height: 500px;
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
    .container__tab{
        margin: 50px 0;
    }
    .container__tabs__menu li{
        width: 90px;
    }
    .container__tabs__menu__tab2, .container__tabs__menu__tab3 {
        display: none;
    }
    .container__tab__content__text1{
        font-size: 24px;
        padding: 0;
    }
    .container__tab__content{
        padding: 0;
        margin: 0;
    }
    .container__tab__content__box1{
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
    }
    .container__tab__content__text2{
        font-size: 18px;
    }
    .container__tab__content__botton{
        font-size: 18px;
        width: 252px;
        height: 50px;
        margin-bottom: 30px;
    }
    .container__tab__content__image {
        display: none;
    }    
}
@media screen and (max-width: 320px) {
    .container__tab {
        margin: 50px 0;
    }
    .container__tabs__menu li {
        width: 90px;
    }
    .container__tabs__menu__tab2, .container__tabs__menu__tab3 {
        display: none;
    }
    .container__tab__content__text1 {
        font-size: 24px;
        padding: 0;
    }
    .container__tab__content {
        padding: 0;
        margin: 0;
    }
    .container__tab__content__box1 {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
    }
    .container__tab__content__text2 {
        font-size: 18px;
    }
    .container__tab__content__botton {
        font-size: 18px;
        width: 252px;
        height: 50px;
        margin-bottom: 30px;
    }
    .container__tab__content__image {
        display: none;
    }    
}