/* .contacts__center{
    width: 100%;
    display: flex;
    justify-content: center;
} */
.contacts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    height: 622px;
}
.contacts__text__1{
    padding: 40px 0;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    color: #000000;
}
.contacts__line{
    width: 170px;
    height: 2px;
    border: none; 
    background-color: #EC7979; 
    color: #EC7979;
}
.contacts__text__2{
    padding-top: 40px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #86878B;
}
.contacts__form {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}
.contacts__form__content > div {
    display: flex;
}
.contacts__form__content label input, .contacts__form__content label textarea{
    border: none;
    margin: 15px 50px;
    width: 370px;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Raleway', serif;
    resize: none;
}
.contacts__form__content input::placeholder, .contacts__form__content textarea::placeholder{
    color: #BDBDBD;
}
.contacts__form__content__button{
    background: #EC7979;
    font-family: 'Open Sans', serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 370px;
    height: 58px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}
.contacts__form__content__button:hover{
    background-color: #a4f70b;
    color: #EC7979;
} 
@media screen and (min-width: 1024px) and (max-width: 1160px) {
    .contacts__text__1{
        font-size: 24px;
    }
    .contacts__line{
        width: 144px;
    }
    .contacts__text__2{
        font-size: 14px;
    }
    .contacts__form__content label input, .contacts__form__content label textarea{
        margin: 15px 50px;
        width: 400px;
    }
    .contacts__forms__button{
        width: 318px;
    }
}
@media screen and (max-width: 1024px) {
    .contacts__text__1{
        font-size: 24px;
    }
    .contacts__text__2{
        font-size: 14px;
    }
    .contacts__line{
        width: 134px;
    }
    .contacts__form__content > div {
        display: block;
    }
    .contacts__form__content label input, .contacts__form__content label textarea{
        margin: 15px 0;
        width: 288px;
    }
    .contacts__forms__button{
        width: 288px;
        height: 50px;
    }
}