.customers__center{
    max-width: 1170px;
    padding: 50px 15px;
}
.container__customers{
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__customers__header{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    color: #000000;
}
.container__customers__line{
    width: 170px;
    height: 2px;
    border: none; 
    background-color: #EC7979; 
    color: #EC7979;
    display: flex;
    justify-content: center;
}
.container__customers__text{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
}
.container__customers__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__customers__box__content{
    margin: 0 10px;
}
.container__customers__box__content__text{
    width: 370px;
    height: 180px;
    background: #E2E2E2;
    border-radius: 10px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;
}
.container__customers__box__content__triangle{
    margin-left: 70px;
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
}
.container__customers__box__content__footer{
    display: flex;
    align-items: center;
}
.container__customers__box__content__footer__text{
    position: relative;
    left: 20px;
}
.container__customers__box__content__image{
    width: 70px;
    height: 70px;
}
.container__customers__box__content__h4{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    color: #000000;
}
.container__customers__box__content__h5{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
@media screen and (min-width: 1024px) and (max-width: 1160px) {
    .container__customers__header{
        font-size: 24px;
    }
    .container__customers__line{
        width: 142px;
    }
    .container__customers__text{
        font-size: 14px;
    }
    .container__customers__box__content__text{
        width: 317px;
    }
    .container__customers__box__content__image{
        width: 63px;
        height: 63px;
    }
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
    .container__customers__header{
        text-align: center;
    }
    .container__customers__text{
        text-align: center;
    }
    .container__customers__box{
        flex-direction: column;
    }
    .container__customers__box__content__text{
        width: 288px;
    }
    .container__customers__box__content__image{
        width: 57px;
        height: 57px;
    }
    .container__customers__box__content:nth-last-child(2n+1) {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .container__customers__header{
        text-align: center;
    }
    .container__customers__text{
        text-align: center;
    }
    .container__customers__box{
        flex-direction: column;
    }
    .container__customers__box__content__text{
        width: 288px;
    }
    .container__customers__box__content__image{
        width: 57px;
        height: 57px;
    }
    .container__customers__box__content:nth-last-child(2n+1) {
        display: none;
    }
}